* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.floor {
  background-color: #D5E1EF;
  width: 375px;
  height: auto;
}

.container {
  width: 320px;
  height: 497px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 1px solid green;
  margin-top: 16px;
}

.container .img-background {
  width: 288px;
  height: 288px;
  background-color: #2C7DFA;
  margin-inline: auto;
  border-radius: 2%;
  margin-top: 16px;
  margin-bottom: 24px;
  border: 1px solid red;
}

.container .img-background img {
  margin-inline: 64px;
  margin-block: 64px;
}

.container .title-and-write {
  width: 288px;
  /* height: auto; */
  border: 1px solid black;
  margin-inline: auto;
}

.container .title-and-write h1 {
  font-family: Outfit;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 16px;
}

.container .title-and-write p {
  font-family: Outfit;
  font-size: 15px;
  color: #7D889E;
  font-weight: 400;
  text-align: center;
}